* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #e8e6dc;
  color: aliceblue;
  font-family: "Aleo", serif;
  letter-spacing: 0.15em;
}

#return-home {
  position: absolute;
  color: black;
  top: 2%;
  right: 2%;
  text-transform: uppercase;
}

#home-link {
  text-decoration: none;
  color: black;
  transition: all 0.5s ease-in-out;
}

#home-link:hover {
  color: #d6704f;
}





.card {
  background-image: url("bg.png");
  background-size: cover;
  color: #e8e6dc;
  padding: 2em;
  border-radius: 30px;
  width: 100%;
  max-width: 420px;
  margin: 1em;
  height: 100vh;
  max-height: 700px;
  box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.315);
  position: relative;
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  margin: 0.5em;
  border: none;
  height: 2.5em;
  width: 2.5em;
  border-radius: 50%;
  outline: none;
  background-color: #e8e6dc;
  opacity: 0.3;
  transition: all 0.5s ease-in-out;
}

input.search-bar {
  border: none;
  outline: none;
  padding: 0.8em;
  border-radius: 18px;
  background-color: #e8e6dc;
  font-family: inherit;
  letter-spacing: 0.1em;
  opacity: 0.3;
  color: black;
  transition: all 0.5s ease-in-out;
}

.city {
  text-align: center;
  margin: 1em 0;
  margin-bottom: 0.5em;
 font-size:50px;
}

.temp {
  text-align: center;
  font-size: 70px;
  letter-spacing: 0.1em;
}

button:hover,
input.search-bar:hover {
  opacity: 0.7;
  cursor: pointer;
}

.weather-icon {
  text-align: center;
}

#currentDate {
  position: absolute;
  left: 50%;
  bottom: 5%;
  transform: translateX(-50%);
  font-weight: 300;
  color: #e8e6dc;
}
#clockDisplay {
  position: absolute;
  right: 3%;
  top: 2%;
  color: #e8e6dc;
  font-weight: 300;
}
@media only screen and (max-width: 700px) {
 
  .card {
    width: 350px;
    height: 550px;
  }
  .search, .temp{
  	font-size: 50px;
  }
  .city {
	font-size: 40px;
  margin-top: 0.5em;
  margin-bottom: 0.1em;
	}
  #return-home{
  	font-size: 10px;
  }
 
}

